body {
    margin: 0;
    padding: 0;
}
h4 {
    margin: 0px 0px 5px 0px;
}

@font-face {
    font-family: 'outfitthin';
    src: url('../fonts/outfitthin/outfit-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/outfitthin/outfit-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}